!===LOOPBACK VARIABLES===
{% macro add_to_octet(loopback, index, value) -%}
{% set parts = loopback.split('.') %}
{% set updated = parts | list %}
{% set new_val = (parts[index] | int + value) %}
{% set _ = updated.setitem(index, new_val | string) %}
{{ updated | join('.') }}
{%- endmacro %}
!
!=== TYPE CASTING ===
{% set GEN_P2P_VLAN1 = GEN_P2P_VLAN1 | int %}
{% set GEN_P2P_VLAN2 = GEN_P2P_VLAN2 | int %}
!
{% set loopback_INFRA = add_to_octet(loopback, 1, 40) %}
{% set loopback_POS = add_to_octet(loopback, 1, 16) %}
{% set loopback_SERVICES = add_to_octet(loopback, 1, 24) %}
{% set loopback_GUEST = add_to_octet(loopback, 1, 8) %}
{% set loopback_BPARTNER = add_to_octet(loopback, 1, 32) %}
!=========================
!=== MACROS ===
{% macro ip_add(ip, d1=None, d2=None, d3=None, d4=None) -%}
{# Split and copy to a mutable list #}
{% set p = ip.split('.') | list %}
{% if d1 is not none %}
{% set p = [ (p[0]|int + d1)|string, p[1], p[2], p[3] ] %}
{% endif %}
{% if d2 is not none %}
{% set p = [ p[0], (p[1]|int + d2)|string, p[2], p[3] ] %}
{% endif %}
{% if d3 is not none %}
{% set p = [ p[0], p[1], (p[2]|int + d3)|string, p[3] ] %}
{% endif %}
{% if d4 is not none %}
{% set p = [ p[0], p[1], p[2], (p[3]|int + d4)|string ] %}
{% endif %}
{{ p | join('.') }}
{%- endmacro %}

!=== SVI VARIABLES ===
{% set svi_INFRA    = ip_add(svi,  d2=40, d4=1) %}
{% set svi_POS      = ip_add(svi,  d2=16, d4=1) %}
{% set svi_SERVICES = ip_add(svi,  d2=24, d4=1) %}
{% set svi_GUEST    = ip_add(svi,  d2=8,  d4=1) %}
{% set svi_BPARTNER = ip_add(svi,  d2=32, d4=1) %}

!=== DIST1 VARIABLES ===
{% set dist1_INFRA    = ip_add(dist1, d2=40, d4=1) %}
{% set dist1_POS      = ip_add(dist1, d2=16, d4=1) %}
{% set dist1_SERVICES = ip_add(dist1, d2=24, d4=1) %}
{% set dist1_GUEST    = ip_add(dist1, d2=8,  d4=1) %}
{% set dist1_BPARTNER = ip_add(dist1, d2=32, d4=1) %}

!=== DIST2 VARIABLES ===
{% set dist2_INFRA    = ip_add(dist2, d2=40, d4=1) %}
{% set dist2_POS      = ip_add(dist2, d2=16, d4=1) %}
{% set dist2_SERVICES = ip_add(dist2, d2=24, d4=1) %}
{% set dist2_GUEST    = ip_add(dist2, d2=8,  d4=1) %}
{% set dist2_BPARTNER = ip_add(dist2, d2=32, d4=1) %}
!
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime localtime show-timezone
service timestamps log datetime localtime show-timezone
service password-encryption
no service tcp-small-servers
no service udp-small-servers
no service finger
no service config
lldp run
!
#INTERACTIVE
class-map type control subscriber match-all AAA_SVR_DOWN_AUTHD_HOST<IQ>yes<R>yes
#ENDS_INTERACTIVE
!
  match result-type aaa-timeout
  match authorization-status authorized
!
class-map type control subscriber match-all AAA_SVR_DOWN_UNAUTHD_HOST
  match result-type aaa-timeout
  match authorization-status unauthorized
!
class-map type control subscriber match-any IN_CRITICAL_AUTH
 match activated-service-template ISE-DOWN-GEN
 match activated-service-template ISE-DOWN-VOIP
!    
class-map type control subscriber match-none NOT_IN_CRITICAL_AUTH
    match activated-service-template ISE-DOWN-GEN
    match activated-service-template ISE-DOWN-VOIP
!    
class-map type control subscriber match-any DOT1X
 match method dot1x
!
class-map type control subscriber match-all DOT1X_NO_RESP
 match method dot1x
 match result-type method dot1x agent-not-found
!
class-map type control subscriber match-all DOT1X_TIMEOUT
 match method dot1x
 match result-type method dot1x method-timeout
!
 class-map type control subscriber match-all DOT1X_FAILED
 match method dot1x
 match result-type method dot1x authoritative
! 
class-map type control subscriber match-all MAB
 match method mab
!
!
 class-map type control subscriber match-all MAB_FAILED
 match method mab
 match result-type method mab authoritative
!
!
hostname {{SW_HOSTNAME}}
!
boot-start-marker
boot system flash:packages.conf
boot-end-marker
!
logging buffered 55000
logging userinfo
enable secret 5 $1$Hgi6$7lQCBCxruf41.Mi0vIToi.
!
!
!
username jlemos privilege 15 secret 9 $9$SavdDfA5Xz7zI.$vzwjNDAy2Q6yusgpLEUy3dUp3lTvubk5hccz.WjvbV.
username cholbrook privilege 15 secret 9 $9$fdR20QBFysi2CU$e3m/h2k1dV5oAHQyjfahuyhouSiYHyYDHp1QExmqc76
username gonzalezg privilege 15 secret 9 $9$3EdQ8ojQJEAZYU$XOfWSjFTDTh0FiK186M9CGjLJQZ0OEpzvyN0F3LiLs2
username jtorres privilege 15 secret 9 $9$Zz5WLW.1brRI9.$v0sJvndc1DxQrOgtpLkPxrs8ojNEG4rNYgEK.zENQOk
username ccannon privilege 15 secret 9 $9$yU1qbYyL5UcwLk$ExOG6gKqF/6LcI.uLb.t4psYrP4450ezEbv75qZN4sU
username ariasa privilege 15 secret 9 $9$DbWKAPcA5Bxq3U$JwE1ix3lRaCdVY5cXE3aItIEdJgiYNtzclXidWGE4Xg
username dnichols privilege 15 secret 9 $9$lw5KTplAxt1rkU$YVZzXpsilTXrUAVP6rHtTsZRkCCyUNcP2iMpZ0Sey4E
username kjackson privilege 15 secret 9 $9$fJJiLVzNf.Yuxk$L.JUMcfCn9nGdL7Bf7.aINH3/vjpSiRkGDE6iEQ9IoQ
!
aaa new-model
!
aaa local authentication attempts max-fail 3
!         
aaa group server tacacs+ UEBOHTACAUTH
server name ISE01-UEBOH
server name ISE02-UEBOH
!
aaa group server radius EPIC-ISE-RAD
 server name EPIC-ISE-1
 server name EPIC-ISE-2
 server name EPIC-ISE-3
 server name EPIC-ISE-4
 ip radius source-interface Loopback1

aaa authentication login default group UEBOHTACAUTH local
aaa authentication enable default group UEBOHTACAUTH enable
aaa authentication dot1x default group EPIC-ISE-RAD
aaa authorization network default group EPIC-ISE-RAD
aaa authorization console
aaa authorization config-commands
aaa authorization exec default group UEBOHTACAUTH local
aaa authorization commands 15 default group UEBOHTACAUTH local
aaa accounting update newinfo periodic 2880
aaa accounting identity default start-stop group EPIC-ISE-RAD
aaa accounting exec default start-stop group UEBOHTACAUTH
aaa accounting commands 0 default start-stop group UEBOHTACAUTH
aaa accounting commands 1 default start-stop group UEBOHTACAUTH
aaa accounting commands 15 default start-stop group UEBOHTACAUTH
aaa accounting network default start-stop group EPIC-ISE-RAD
!
!
aaa common-criteria policy USERS-POLICY-1
 min-length 10
 max-length 15
 numeric-count 1
 upper-case 1
 lower-case 1
 special-case 1
 char-changes 4
 lifetime month 2
!
!
aaa server radius dynamic-author
client 10.147.7.15 server-key !u0R0l1Out2023!
client 10.147.7.16 server-key !u0R0l1Out2023!
client 10.147.7.17 server-key !u0R0l1Out2023!
client 10.147.7.18 server-key !u0R0l1Out2023!
!
aaa session-id common
clock timezone EST -5
clock summer-time EST recurring
!
ip subnet-zero
no ip source-route
ip routing
!
ip vrf INFRA
 rd 2:2
!
ip vrf POS
 rd 4:4
!
ip vrf SERVICES
 rd 5:5
!
ip vrf GUEST
 rd 6:6
!
ip vrf BPARTNER
 rd 7:7
!
!
ip multicast-routing
ip multicast-routing vrf SERVICES
!
ip multicast multipath 
ip multicast vrf SERVICES multipath
!
no ip pim dm-fallback
no ip pim vrf SERVICES dm-fallback
!
ip pim rp-address 10.1.0.3 UO-MCAST-SCOPE override
ip pim vrf SERVICES rp-address 10.168.0.3
!
ip pim register-rate-limit 8000
!
ip multicast route-limit 1000 900
ip multicast vrf SERVICES route-limit 1000 900
!
!
!
!
!
no ip domain lookup
ip domain name use.ucdp.net
ip host tools.cisco.com 72.163.4.38
!
ip dhcp snooping vlan 10,20,40,50,60,70
no ip dhcp snooping information option
ip dhcp snooping
login block-for 600 attempts 8 within 60
login delay 3
login quiet-mode access-class LOGIN-BLOCK-EXEMPT
login on-failure log
login on-success log
login on-failure
!
!
vtp domain NULL
vtp version 3
vtp mode transparent
!
device-sensor filter-list dhcp list DHCP-LIST
 option name host-name
 option name requested-address
 option name parameter-request-list
 option name class-identifier
 option name client-identifier
!
device-sensor filter-list cdp list CDP-LIST
 tlv name device-name
 tlv name address-type
 tlv name capabilities-type
 tlv name version-type
 tlv name platform-type
!
device-sensor filter-list lldp list LLDP-LIST
 tlv name system-name
 tlv name system-description
 tlv name system-capabilities
device-sensor filter-spec dhcp include list DHCP-LIST
device-sensor filter-spec lldp include list LLDP-LIST
device-sensor filter-spec cdp include list CDP-LIST
device-sensor notify all-changes
device-tracking tracking
!
device-tracking policy IPDT_MAX_10
 limit address-count 10
 no protocol udp
 tracking enable
!
access-session attributes filter-list list ISE-ACCT-LIST
 cdp
 lldp
 dhcp
 http
!
access-session authentication attributes filter-spec include list ISE-ACCT-LIST
access-session accounting attributes filter-spec include list ISE-ACCT-LIST
access-session acl default passthrough
no device-tracking logging theft
device-tracking tracking
!
archive
 log config
  logging enable
  logging size 500
  hidekeys
  notify syslog contenttype plaintext
memory free low-watermark processor 134344
!
file verify auto
!
!
spanning-tree mode rapid-pvst
spanning-tree logging
spanning-tree portfast bpduguard default
spanning-tree etherchannel guard misconfig
spanning-tree extend system-id
spanning-tree vlan 10,20,40,50,60,70 priority 24576
spanning-tree vlan {{GEN_P2P_VLAN1}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN1 + 100}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN1 + 300}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN1 + 400}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN1 + 500}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN1 + 600}} priority 61440
!
spanning-tree vlan {{GEN_P2P_VLAN2}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN2 + 100}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN2 + 300}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN2 + 400}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN2 + 500}} priority 61440
spanning-tree vlan {{GEN_P2P_VLAN2 + 600}} priority 61440
!
dot1x system-auth-control
dot1x test timeout 300
dot1x logging verbose
dot1x critical eapol
!
no errdisable detect cause arp-inspection
errdisable recovery cause bpduguard
errdisable recovery cause psecure-violation
errdisable recovery cause arp-inspection 
errdisable recovery interval 1800
!
service-template DOT1X-FAIL_VLAN
 vlan 60
!
service-template ISE-DOWN-GEN
  vlan 10
! 
service-template CRITICAL_AUTH_ACCESS
 access-group IPV4_CRITICAL_ACL
! 
! 
service-template ISE-DOWN-VOIP
  voice vlan
!
dot1x system-auth-control
dot1x test timeout 300
dot1x logging verbose
dot1x critical eapol
!
license boot level network-advantage addon dna-advantage
!
!
vlan 10   
 name GLOBAL
!         
vlan 20   
 name INFRA
!         
vlan 40
 name POS
!         
vlan 50
 name SERVICES
!         
vlan 60
 name GUEST
!         
vlan 70
 name BPARTNER
!
vlan 999
!         
vlan {{GEN_P2P_VLAN1}}
name L3-GLOBAL-{{DIST1_NAME}}
!
vlan {{GEN_P2P_VLAN1 + 100}}
name L3-INFRA-{{DIST1_NAME}}
!
vlan {{GEN_P2P_VLAN1 + 300}}
name L3-POS-{{DIST1_NAME}}
!
vlan {{GEN_P2P_VLAN1 + 400}}
name L3-SERVICES-{{DIST1_NAME}}
!
vlan {{GEN_P2P_VLAN1 + 500}}
name L3-GUEST-{{DIST1_NAME}}
!
vlan {{GEN_P2P_VLAN1 + 600}}
name L3-BPARTNER-{{DIST1_NAME}}
!
!
!         
vlan {{GEN_P2P_VLAN2}}
name L3-GLOBAL-{{DIST2_NAME}}
!
vlan {{GEN_P2P_VLAN2 + 100}}
name L3-INFRA-{{DIST2_NAME}}
!
vlan {{GEN_P2P_VLAN2 + 300}}
name L3-POS-{{DIST2_NAME}}
!
vlan {{SERVICES_P2P_VLAN2}}
name L3-SERVICES-{{DIST2_NAME}}
!
vlan {{GEN_P2P_VLAN2 + 500}}
name L3-GUEST-{{DIST2_NAME}}
!
vlan {{GEN_P2P_VLAN2 + 600}}
name L3-BPARTNER-{{DIST2_NAME}}
!
class-map match-any VOIP
match access-group name VOIP_ACL
!
class-map match-any SIGNALING
match access-group name SIGNALING_ACL
!
class-map match-any VOIP_OUT
match dscp ef
!
class-map match-any SIGNALING_OUT
match dscp cs3
!
policy-map UPR_QOS_OUT
Class VOIP_OUT
      priority level 1
     police rate percent 10
       conform-action transmit 
       exceed-action drop 
Class SIGNALING_OUT
      bandwidth percent 5
       queue-buffers ratio 5
Class class-default
      bandwidth percent 85
!
policy-map UPR_QOS_IN
    Class VOIP
      set dscp ef
    Class SIGNALING
      set dscp cs3
!
policy-map type control subscriber UDX-BOH_TO_ISE
 event session-started match-all
  10 class always do-until-failure
   10 authenticate using dot1x priority 10

 event authentication-failure match-first
  5 class DOT1X_FAILED do-until-failure
   10 terminate dot1x
   15 authenticate using mab priority 20
  10 class AAA_SVR_DOWN_UNAUTHD_HOST do-until-failure
   10 clear-authenticated-data-hosts-on-port
    20 activate service-template ISE-DOWN-GEN
    30 activate service-template ISE-DOWN-VOIP
   40 authorize
   50 pause reauthentication
  20 class AAA_SVR_DOWN_AUTHD_HOST do-until-failure
   10 pause reauthentication
   20 authorize
  30 class DOT1X_NO_RESP do-until-failure
   10 terminate dot1x
   15 authenticate using mab priority 20
  40 class DOT1X_TIMEOUT do-until-failure
   10 terminate dot1x
   15 authenticate using mab priority 20
  50 class MAB_FAILED do-until-failure
   10 terminate mab
   20 authentication-restart 60
  60 class always do-until-failure
   10 terminate dot1x
   20 terminate mab
   30 authentication-restart 60

 event aaa-available match-all
  10 class IN_CRITICAL_AUTH do-until-failure
   10 clear-session
  20 class NOT_IN_CRITICAL_AUTH do-until-failure
   10 resume reauthentication

 event agent-found match-all
  10 class always do-until-failure
   10 terminate mab
   15 authenticate using dot1x retries 3 retry-time 2 priority 10

 event inactivity-timeout match-all
  10 class always do-until-failure
   10 clear-session
 
 event authentication-success match-all
 
 event violation match-all
  10 class always do-until-failure
   10 restrict
!
!
ip tcp synwait-time 10
ip tftp source-interface Loopback1
ip ssh logging events
ip ssh version 2
!
template UDXCORP-DEFAULT-ACCESS-1
 dot1x pae authenticator
 dot1x timeout tx-period 10
 dot1x max-reauth-req 3
 spanning-tree portfast
 switchport mode access
 switchport port-security maximum 2
 mab
 no access-session closed
 access-session control-direction in
 access-session port-control auto
 authentication periodic
 authentication timer reauthenticate server
 service-policy type control subscriber UDX-BOH_TO_ISE
!
!
!
interface Loopback1
Description GLOBAL VRF
ip address {{loopback}} 255.255.255.255
spanning-tree guard root
no shutdown
!
interface Loopback2
Description INFRA VRF
ip vrf forwarding INFRA
ip address {{loopback_INFRA}} 255.255.255.255
spanning-tree guard root
no shutdown
!
interface Loopback4
Description POS VRF
ip vrf forwarding POS
ip address {{loopback_POS}} 255.255.255.255
spanning-tree guard root
no shutdown
!
interface Loopback5
Description SERVICES VRF
ip vrf forwarding SERVICES
ip address {{loopback_SERVICES}} 255.255.255.255
ip pim sparse-mode
spanning-tree guard root
no shutdown
!
interface Loopback6
Description GUEST VRF
ip vrf forwarding GUEST
ip address {{loopback_GUEST}} 255.255.255.255
spanning-tree guard root
no shutdown
!
interface Loopback7
Description BPARTNER VRF
ip vrf forwarding BPARTNER
ip address {{loopback_BPARTNER}} 255.255.255.255
spanning-tree guard root
no shutdown
!
!
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan10
description GLOBAL-DATA-VLAN
ip address {{svi}} {{SUBNET_MASK}}
 ip verify unicast reverse-path
 ip helper-address 10.148.68.53
 no ip redirects
 no ip unreachables
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
 ip pim passive
 ip igmp version 3
 ip multicast boundary UO-MCAST-SCOPE
 ip igmp access-group MCAST-SRC-GEN-VRF
 ip access-group MCAST-ACL-V10_in in
spanning-tree guard root
 no shutdown
!
interface Vlan20
description INFRA-VLAN
ip vrf forwarding INFRA
ip address {{svi_INFRA}} {{SUBNET_MASK}}
ip verify unicast reverse-path
 ip helper-address 10.148.68.53
 no ip redirects
 no ip unreachables
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
spanning-tree guard root
 shutdown
!
interface Vlan40
 description POS-VLAN
ip vrf forwarding POS
ip address {{svi_POS}} {{SUBNET_MASK}}
 ip verify unicast reverse-path
 ip helper-address 10.148.68.53
 no ip redirects
 no ip unreachables
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
spanning-tree guard root
 shutdown
!
interface Vlan50
 description SERVICES-VLAN
ip vrf forwarding SERVICES
ip address dist1}} {{SUBNET_MASK}}
 ip verify unicast reverse-path
 ip helper-address 10.148.68.53
 no ip redirects
 no ip unreachables
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
ip pim sparse-mode
 ip igmp version 2
spanning-tree guard root
 no shutdown
!
interface Vlan60
 description GUEST-VLAN
ip vrf forwarding GUEST
ip address {{svi_GUEST}} {{SUBNET_MASK}}
 ip verify unicast reverse-path
 ip helper-address 10.148.68.53
 no ip redirects
 no ip unreachables
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
spanning-tree guard root
 shutdown
!
interface Vlan70
 description BPARTNER-VLAN
ip vrf forwarding BPARTNER
ip address {{svi_BPARTNER}} {{SUBNET_MASK}}
 ip verify unicast reverse-path
 ip helper-address 10.148.68.53
 no ip redirects
 no ip unreachables
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
spanning-tree guard root
 shutdown
!         
interface Vlan {{GEN_P2P_VLAN1}}
description L3-to-{{DIST1_NAME}}
ip address {{dist1}} 255.255.255.254
!
 no ip redirects
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 304 1
ip hold-time eigrp 304 3
ip pim sparse-mode
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN1 + 100}}
description INFRA L3-to-{{DIST1_NAME}}
ip vrf forwarding INFRA
ip address {{dist1_INFRA}} 255.255.255.254
!
 no ip redirects
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
 no shutdown
ip hello-interval eigrp 20 1
ip hold-time eigrp 20 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN1 + 300}}
description POS L3-to-{{DIST1_NAME}}
ip vrf forwarding POS
ip address {{dist1_POS}} 255.255.255.254
!
 no ip redirects
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
 no shutdown
ip hello-interval eigrp 40 1
ip hold-time eigrp 40 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN1 + 400}}
description SERVICES L3-to-{{DIST1_NAME}}
ip vrf forwarding SERVICES
ip address {{dist1_SERVICES}} 255.255.255.254
!
 no ip redirects
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
 no shutdown
ip hello-interval eigrp 50 1
ip hold-time eigrp 50 3
ip pim sparse-mode
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN1 + 500}}
description GUEST L3-to-{{DIST1_NAME}}
ip vrf forwarding GUEST
ip address {{dist1_GUEST}} 255.255.255.254
!
 no ip redirects
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
 no shutdown
ip hello-interval eigrp 60 1
ip hold-time eigrp 60 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN1 + 600}}
description BPARTNER L3-to-{{DIST1_NAME}}
ip vrf forwarding BPARTNER
ip address {{dist1_BPARTNER}} 255.255.255.254
!
 no ip redirects
 no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
 no shutdown
ip hello-interval eigrp 70 1
ip hold-time eigrp 70 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN2}}
description L3-to-{{DIST2_NAME}}
ip address {{dist2}} 255.255.255.254
!
no ip redirects
no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 304 1
ip hold-time eigrp 304 3
ip pim sparse-mode
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN2 + 100}}
description INFRA L3-to-{{DIST2_NAME}}
ip vrf forwarding INFRA
ip address {{dist2_INFRA}} 255.255.255.254
!
no ip redirects
no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 20 1
ip hold-time eigrp 20 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN2 + 300}}
description POS L3-to-{{DIST2_NAME}}
ip vrf forwarding POS
ip address {{dist2_POS}} 255.255.255.254
!
no ip redirects
no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 40 1
ip hold-time eigrp 40 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN2 + 400}}
description SERVICES L3-to-{{DIST2_NAME}}
ip vrf forwarding SERVICES
ip address {{dist2_SERVICES}} 255.255.255.254
!
no ip redirects
no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 50 1
ip hold-time eigrp 50 3
ip pim sparse-mode
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN2 + 500}}
description GUEST L3-to-{{DIST2_NAME}}
ip vrf forwarding GUEST
ip address {{dist2_GUEST}} 255.255.255.254
!
no ip redirects
no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 60 1
ip hold-time eigrp 60 3
spanning-tree guard root
!
interface Vlan {{GEN_P2P_VLAN2 + 600}}
description BPARTNER L3-to-{{DIST2_NAME}}
ip vrf forwarding BPARTNER
ip address {{dist2_BPARTNER}} 255.255.255.254
!
no ip redirects
no ip proxy-arp
no ip directed-broadcast
ip verify unicast source reachable-via rx allow-default
no shutdown
ip hello-interval eigrp 70 1
ip hold-time eigrp 70 3
spanning-tree guard root
!
!
interface {{UPLINK_INT1}}
 switchport
description {{DIST1_NAME}} {{DISTRO_UPLINK}}
 switchport trunk native vlan {{GEN_P2P_VLAN1}}
 switchport trunk allowed vlan {{GEN_P2P_VLAN1}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN1 + 100}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN1 + 300}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN1 + 400}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN1 + 500}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN1 + 600}}
 switchport mode trunk
 switchport nonegotiate
 spanning-tree portfast trunk
 carrier-delay msec 0
ip dhcp snooping trust
service-policy output UPR_QOS_OUT
no shutdown
!
interface {{UPLINK_INT2}}
switchport
description {{DIST2_NAME}} {{DISTRO_UPLINK}}
 switchport trunk native vlan {{GEN_P2P_VLAN2}}
 switchport trunk allowed vlan {{GEN_P2P_VLAN2}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN2 + 100}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN2 + 300}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN2 + 400}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN2 + 500}}
 switchport trunk allowed vlan add {{GEN_P2P_VLAN2 + 600}}
 switchport mode trunk
 switchport nonegotiate
 spanning-tree portfast trunk
 service-policy output UPR_QOS_OUT
carrier-delay msec 0
ip dhcp snooping trust
no shutdown
!
{% set interfaces = [] %}
{% for i in range(1, 48) %}
  {% do interfaces.append({"name": "Te1/0/" ~ i}) %}
{% endfor %}

{% for interface in interfaces %}
interface {{ interface.name }}
switchport host
Switchport access vlan 999
Switchport port-security maximum 2
Device-tracking attach-policy IPDT_MAX_10
access-session host-mode multi-domain
Source template UDXCORP-DEFAULT-ACCESS-1
Spanning-tree portfast
{% endfor %}
!
router eigrp 304
no auto-summary
network {{loopback}} 0.0.0.0
network {{svi}} 0.0.0.0
network {{dist1}} 0.0.0.0
network {{dist2}} 0.0.0.0
passive-interface default
eigrp router-id {{loopback}}
no passive-interface Vlan {{GEN_P2P_VLAN1}}
no passive-interface Vlan {{GEN_P2P_VLAN2}}
eigrp stub connected summary
nsf
!
router eigrp UE-VRF
address-family ipv4 unicast vrf INFRA autonomous-system 20
 topology base
  exit-af-topology
network {{loopback_INFRA}} 0.0.0.0
network {{svi_INFRA}} 0.0.0.0
network {{dist1_INFRA}} 0.0.0.0
network {{dist2_INFRA}} 0.0.0.0
eigrp router-id {{loopback_INFRA}}
eigrp stub connected summary
nsf
exit-address-family
!
!
address-family ipv4 unicast vrf POS autonomous-system 40
  topology base
  exit-af-topology
network {{loopback_POS}} 0.0.0.0
network {{svi_POS}} 0.0.0.0
network {{dist1_POS}} 0.0.0.0
network {{dist2_POS}} 0.0.0.0
eigrp router-id {{loopback_POS}}
eigrp stub connected summary
nsf
exit-address-family
!
address-family ipv4 unicast vrf SERVICES autonomous-system 50
  topology base
  exit-af-topology
network {{loopback_SERVICES}} 0.0.0.0
network {{svi_SERVICES}} 0.0.0.0
network {{dist1_SERVICES}} 0.0.0.0
network {{dist2_SERVICES}} 0.0.0.0
eigrp router-id {{loopback_SERVICES}}
eigrp stub connected summary
nsf
exit-address-family
!
address-family ipv4 unicast vrf GUEST autonomous-system 60
  topology base
  exit-af-topology
network {{loopback_GUEST}} 0.0.0.0
network {{svi_GUEST}} 0.0.0.0
network {{dist1_GUEST}} 0.0.0.0
network {{dist2_GUEST}} 0.0.0.0
eigrp router-id {{loopback_GUEST}}
eigrp stub connected summary
nsf
exit-address-family
!
address-family ipv4 unicast vrf BPARTNER autonomous-system 70
  topology base
  exit-af-topology
network {{loopback_BPARTNER}} 0.0.0.0
network {{svi_BPARTNER}} 0.0.0.0
network {{dist1_BPARTNER}} 0.0.0.0
network {{dist2_BPARTNER}} 0.0.0.0
eigrp router-id {{loopback_BPARTNER}}
eigrp stub connected summary
nsf
exit-address-family
!
ip classless
no ip http server
no ip http secure-server
ip tacacs source-interface Loopback1
!
!
access-list 1 remark ORION
access-list 1 permit host 10.18.76.232
access-list 1 remark CSPC-COLLECTOR
access-list 1 permit host 10.18.77.5
access-list 1 remark TELECOM-CER
access-list 1 permit 10.38.10.42
access-list 1 remark NETBRAIN
access-list 1 permit 10.18.76.121
access-list 1 remark CATALYST-CENTER
access-list 1 permit 10.147.3.60
access-list 1 permit 10.147.3.61
access-list 1 permit 10.147.3.62
access-list 1 permit 10.147.3.70
access-list 22 remark NTP
access-list 22 permit 172.22.0.1
access-list 22 permit 172.22.0.2
!
!
snmp-server group READ-ONLY v3 priv read v3default
snmp-server community Th3D1@g0n RO 1
snmp-server view v3default iso included
!
snmp-server user ACCESS-X READ-ONLY v3 auth sha Ay%3cJD8DDAddsx@31 priv aes 256 *QdsNA2e.BX*unyCJ2W access 1
snmp-server host 10.18.77.5 version 2c Th3D1@g0n
!
snmp-server host 10.18.76.232 traps ACCESS udp-port 162
snmp-server enable traps cpu threshold
snmp-server enable traps errdisable
snmp-server enable traps envmon
snmp-server enable traps port-security
snmp-server enable traps snmp authentication warmstart linkdown linkup coldstart
snmp-server enable traps mac-notification
snmp-server trap-source Loopback1
snmp-server view UDT 1.3.6.1.2.1.17.4.3 included
snmp-server group READ-ONLY v3 auth context vlan- match prefix access 1
!
ip access-list extended VTY-ACL-5
!
!
 permit tcp 10.145.145.0 0.0.0.255 any eq 22
! NetEng VPN
 permit tcp 10.17.11.0 0.0.0.255 any eq 22
! B1 West
 permit tcp 172.16.1.0 0.0.0.255 any eq 22
! B2 2nd Floor A
 permit tcp 10.10.122.0 0.0.1.255 any eq 22
! Catalyst Center
permit tcp host 10.147.3.60 any eq 22
permit tcp host 10.147.3.61 any eq 22
permit tcp host 10.147.3.62 any eq 22
permit tcp host 10.147.3.70 any eq 22
! VB B390 Mgmt
 permit tcp 10.19.29.0 0.0.0.255 any eq 22
 permit tcp host 10.18.75.50 any eq 22
 permit tcp host 10.18.76.121 any eq 22
 permit tcp host 10.18.76.232 any eq 22
 permit tcp host 10.18.77.5 any eq 22
deny ip any any
!
ip access-list extended VOIP_ACL
 remark RTP VOIP
 permit udp any any range 16384 32767 dscp ef
!
ip access-list extended SIGNALING_ACL
 remark Call Signaling/Jabber_CS3
 remark SCCP
 permit tcp any any range 2000 2002
 remark SIP
 permit tcp any any range 5060 5061
 permit udp any any range 5060 5061
!
ip access-list extended IPV4_CRITICAL_ACL
 permit ip any any
ip access-list extended LOGIN-BLOCK-EXEMPT
 permit tcp 10.11.4.0 0.0.3.255 any eq 22
 permit tcp 10.11.6.0 0.0.3.255 any eq 22
permit tcp 172.16.1.0 0.0.0.255 any eq 22
deny ip any any
!
ip access-list standard UO-MCAST-SCOPE
remark <UO MCAST MASTER RANGE>
 permit 239.0.0.0 0.255.255.255
deny any
!
!
ip access-list extended MCAST-ACL-V30_in
 remark <SINGLEWIRE MCAST PTT SENDERS PERMITTED>
 permit ip any host 239.199.224.16
 remark <ALL MCAST RECEIVERS PERMITTED>
 permit igmp any any
 remark <ALL ROUGE MCAST SOURCES DENIED>
 deny   ip any 224.0.0.0 15.255.255.255
 remark <ALL OTHER IP UNICAST TRAFFIC PERMITTED>
 permit ip any any
!
!
ip access-list extended MCAST-ACL-V10_in
 remark <ALL MCAST RECEIVERS PERMITTED>
 permit igmp any any
 remark <ALL ROUGE MCAST SOURCES DENIED>
 deny   ip any 224.0.0.0 15.255.255.255
 remark <ALL OTHER IP UNICAST TRAFFIC PERMITTED>
 permit ip any any
!
!
ip access-list extended MCAST-ACL-V50_in
 remark <ALL MCAST RECEIVERS PERMITTED>
 permit igmp any any
 remark <ALL ROUGE MCAST SOURCES DENIED>
 deny   ip any 224.0.0.0 15.255.255.255
 remark <ALL OTHER IP UNICAST TRAFFIC PERMITTED>
 permit ip any any
!
ip access-list extended MCAST-SRC-GEN-VRF
remark <UO GENERAL MCAST APPLICATIONS>
deny igmp any any
!
!
ip access-list extended MCAST-SRC-VOICE-VRF
remark <UO VOICE VRF MCAST APPLICATIONS>
!
remark <BEGIN SINGLEWIRE PAGING 239.199.224.0/28>
 permit igmp host 0.0.0.0 239.199.224.0 0.0.0.15
 permit igmp host 10.38.10.44 239.199.224.0 0.0.0.15
 permit igmp host 10.38.10.45 239.199.224.0 0.0.0.15
remark <END SINGLEWIRE PAGING 239.199.224.0/28>
!
remark <BEGIN SINGLEWIRE PTT 239.199.224.16>
 permit igmp host 0.0.0.0 host 239.199.224.16
remark <END SINGLEWIRE PTT 239.199.224.16>
deny igmp any any
!
!
ip access-list extended MCAST-SRC-SVC-VRF
remark <UO SERVICES VRF MCAST APPLICATIONS>
deny igmp any any
!
!
!
logging console errors
logging trap informational 
logging host 100.124.34.93 transport udp port 10609
logging host 100.124.34.93
logging origin-id hostname
logging source-interface Loopback1
!
!
radius-server attribute 6 on-for-login-auth
radius-server attribute 6 support-multiple
radius-server attribute 8 include-in-access-req
radius-server attribute 25 access-request include
radius-server attribute 31 mac format ietf upper-case
radius-server attribute 31 send nas-port-detail mac-only
radius-server dead-criteria time 10 tries 3
radius-server deadtime 15
radius-server vsa send accounting 
radius-server vsa send authentication
!
radius server EPIC-ISE-1
 address ipv4 10.147.7.15 auth-port 1812 acct-port 1813
 timeout 5
key 7 074E341C7C59155438071F5E54787865
!
radius server EPIC-ISE-2
 address ipv4 10.147.7.16 auth-port 1812 acct-port 1813
 timeout 5
key 7 06471A717E1E05482A0206595C56796A
!
radius server EPIC-ISE-3
address ipv4 10.147.7.17 auth-port 1812 acct-port 1813
 timeout 5
key !u0R0l1Out2023!
!
radius server EPIC-ISE-4
address ipv4 10.147.7.18 auth-port 1812 acct-port 1813
  timeout 5
key !u0R0l1Out2023!
!
!
<MLTCMD>banner login ^
 ========================================================================================== 
|                                  NOTICE TO USERS                                         |
| This is an official computer system and is the property of Universal City Development    |
| Partners. It is for authorized users only. Unauthorized users are prohibited. Users      |
| (authorized or unauthorized) have no explicit or implicit expectation of privacy. Any    |
| or all uses of this system may be subject to one or more of the following actions:       |
| interception, monitoring, recording, auditing, inspection and disclosing to security     |
| personnel and law enforcement personnel, as well as authorized officials of other        |
| agencies, both domestic and foreign. By using this system, the user consents to these    |
| actions. Unauthorized or improper use of this system may result in administrative        |
| disciplinary action and civil and criminal penalties. By accessing this system you       |
| indicate your awareness of and consent to these terms and conditions of use. Discontinue |
| access immediately if you do not agree to the conditions stated in this notice.          |
|                                                                                          |
 ========================================================================================== 
 ^C</MLTCMD>
!
line con 0
 exec-timeout 9 0
 logging synchronous
 speed 115200
line vty 0 4
access-class VTY-ACL-5 in vrf-also
 exec-timeout 9 0
 logging synchronous
 transport input ssh
line vty 5 15
access-class VTY-ACL-5 in vrf-also
 exec-timeout 9 0
 logging synchronous
 transport input ssh
!
ntp source Loopback1
ntp access-group peer 22
ntp server 172.22.0.1
ntp server 172.22.0.2
ntp access-group query-only 22
mac address-table aging-time 3600
mac address-table notification mac-move
!
tacacs server ISE01-UEBOH
 address ipv4 10.147.7.11
 key 7 0136362D783B263D0A01673A3C5546
 timeout 3
!
tacacs server ISE02-UEBOH
 address ipv4 10.147.7.12
 key 7 047E3B2F2C116C7C22542C24375B5D
 timeout 3
!
!
!event manager applet CRYPTO authorization bypass
 !event syslog pattern "SYS-5-RESTART"
 !action 1.0 cli command "enable"
 !action 1.1 cli command "config term"
 !action 1.3 cli command "crypto key generate rsa general-keys modulus 2048"
 !action 1.4 cli command "no event manager applet CRYPTO"
 !action 1.5 cli command "end"
!
wr
!
